@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;

        img {
            height: 45px;
        }
    }
}

.content {
    margin-top: 20px;
    display: flex;

    .stations {
        flex: 1;

        .station {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;

            .station-content {
                flex: 1;
                max-width: 300px;
                margin: 0px 10px;
            }
        }
       
    }

    .master-ingredients {
        width: 300px;
        margin: 0px 10px;
    }

    .ingredients {
        display: flex;
        flex-direction: column;
        background-color: #eee;
        padding: 20px;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        background-color: #eee;
        padding: 20px;

        .recipe-ingredient {
            display: block;
            height: 46px;
            width: 100%;
            border: 1px dashed black;
            margin-bottom: 5px;

            .btn {
                width: 98%;
            }
        }
    }

    .btn {
       margin: 2.5px;
       user-select: none;
    }
}